.App-header {
	background-color: #009;
	color: white;
	padding: 20px 0;
	text-align: center;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.player {
	padding: 20px;
	text-align: left;
}

.player td, .player th {
	padding: 10px 0;
	text-align: center;
	width: 150px;
}

button {
	font-size: large;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

button:focus {
	outline: none;
}
